<%- include("header") -%> 

<h2>About</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur optio deserunt laboriosam dicta cum. Inventore
    iste illum ad tenetur corrupti, a, sequi fuga voluptatem culpa illo harum quia quis architecto</p>

<%- include("footer") -%> 
